In [12]:
#sort by there index
def sort_even_odd_index(a):
    odd_list = []
    even_list = []
    for i in range(len(a)):
        if i %2 == 0:
            even_list.append(a[i])
            odd_list.append(a[i])
    return even_list,odd_list

a = [23,24,45,67,99,54,20]
even_list,odd_list = sort_even_odd_index(a)
print(even_list)
print(odd_list)

[23, 45, 99, 20]
[23, 45, 99, 20]

In [19]:
def sum_odd_even(a):
    sum_even = 0
    sum_odd = 0
    for i in a:
        if i %2 == 0:
            sum_even += i
        else:
            sum_odd += i
    return sum_even,sum_odd
        
a = [20,35,45,30,60,75,85,45,25,40]
sum_even,sum_odd = sum_odd_even(a)
print(sum_even)
print(sum_odd)

150
310

In [20]:
#add the even number indexs and odd number indexes 
def even_odd_index(a):
    sum_even = 0
    sum_odd = 0
    for i in range(len(a)):
        if a[i] %2 == 0:
            sum_even += i
        else:
            sum_odd += i
    return sum_even,sum_odd
a = [20,35,45,30,60,75,85,45,25,40]
sum_even,sum_odd = even_odd_index(a)
print(sum_even)
print(sum_odd)

16
29

In [21]:
#take the only "D" letters 
def take_only_d(a):
    f = []
    for i in range(len(a)):
        if(a[i][0] in "Dd"):
            f.append(a[i])
    return f
a =["pranav","vani","chikky","Dinesh","Akhil","Jay","kittu","Karthik","Mumbai","Hyd","delhi","Dubai","Jaiput","kolkata","chennai","Dadar","Danish"]
f = take_only_d(a)
print(f)

['Dinesh', 'delhi', 'Dubai', 'Dadar', 'Danish']

In [22]:
def c_dic(key,value):
    c = {}
    for i in range(len(key)):
        c[key[i]] = value[i]
    return c
key =["pranav","vani","chikky","Dinesh","Akhil","Jay","kittu","Karthik","Mumbai","Hyd","delhi","Dubai","Jaiput","kolkata","chennai","Dadar","Danish"]
value = [90,80,70,60,45,45,46,67,78,78,67,56,45,78,45,34,99]
c = c_dic(key,value)
print(c)

{'pranav': 90, 'vani': 80, 'chikky': 70, 'Dinesh': 60, 'Akhil': 45, 'Jay': 45, 'kittu': 46, 'Karthik': 67, 'Mumbai': 78, 'Hyd': 78, 'delhi': 67, 'Dubai': 56, 'Jaiput': 45, 'kolkata': 78, 'chennai': 45, 'Dadar': 34, 'Danish': 99}

In [24]:
def less_100(key,value):
    c = {}
    for i in range(len(key)):
        c[key[i]] = value[i]
    f = {}
    for key, value in c.items():
        if value < 100:
            f[key] = value
    return f
key =["pranav","vani","chikky","Dinesh","Akhil","Jay","kittu","Karthik","Mumbai","Hyd","delhi","Dubai","Jaiput","kolkata","chennai","Dadar","Danish"]
value = [90,80,70,160,45,145,46,67,178,78,67,56,45,78,45,34,99]
f = less_100(key,value)
print(f)

{'pranav': 90, 'vani': 80, 'chikky': 70, 'Akhil': 45, 'kittu': 46, 'Karthik': 67, 'Hyd': 78, 'delhi': 67, 'Dubai': 56, 'Jaiput': 45, 'kolkata': 78, 'chennai': 45, 'Dadar': 34, 'Danish': 99}

In [27]:
def vowels_in_not(a):
    count = 0
    non_count = 0
    for i in range(len(a)):
        if a[i] in "aeiou":
            count += 1
    for i in range(len(a)):
        if a[i] not in "aeiou":
            non_count += 1
    return count,non_count
b = "hyderabad"
a = b.lower()
count,non_count = vowels_in_not(a)
print(count)
print(non_count)

3
6

In [11]:
#Vowels
def non_vowels(a):
    count = 0
    for i in range(0,len(a)):
        if a[i] in "aeiou":
            count += 1
    return count
n = "Hyderabad"
a = n.lower()
count = non_vowels(a)
print(count)

3

In [10]:
#Non-Vowels
def non_vowels(a):
    count = 0
    for i in range(0,len(a)):
        if a[i] not in "aeiou":
            count += 1
    return count
n = "Hyderabad"
a = n.lower()
count = non_vowels(a)
print(count)

6

In [5]:
#list table 5 

def table_five(a):
    c = []
    for i in range(len(a)):
        if a[i] % 5 == 0:
            d = (a[i] - 5)
            c.append(d)
        else:
            c.append(a[i])
    return c
a = [35,45,66,55,76]
c = table_five(a)
print(c)

[30, 40, 66, 50, 76]